<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<th:block layout:fragment="pagetitle">
	<!--page title-->
	<div th:replace="partials/title-meta :: title-meta('Apex Heatmap Charts')"></div>
</th:block>

<head>

</head>

<body>
	<div layout:fragment="content">
		<!-- start page title -->
		<div th:replace="partials/page-title :: page-title('Heatmap Charts','Apexcharts')"></div>

		<div class="row">
			<div class="col-xl-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title mb-0">Basic Heatmap Chart</h4>
					</div><!-- end card header -->

					<div class="card-body">
						<div class="live-preview">
							<div id="basic_heatmap" data-colors='["--vz-success", "--vz-card-bg-custom"]'
								class="apex-charts" dir="ltr"></div>
						</div>
					</div><!-- end card-body -->
				</div><!-- end card -->
			</div>
			<!-- end col -->
			<div class="col-xl-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title mb-0">Heatmap - Multiple Series</h4>
					</div><!-- end card header -->

					<div class="card-body">
						<div id="multiple_heatmap"
							data-colors='["--vz-primary", "--vz-secondary", "--vz-success", "--vz-info", "--vz-warning", "--vz-danger", "--vz-dark", "--vz-primary", "--vz-card-bg-custom"]'
							class="apex-charts" dir="ltr"></div>
					</div><!-- end card-body -->
				</div><!-- end card -->
			</div>
			<!-- end col -->
		</div>
		<!-- end row -->

		<div class="row">
			<div class="col-xl-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title mb-0">Heatmap Color Range</h4>
					</div><!-- end card header -->

					<div class="card-body">
						<div id="color_heatmap"
							data-colors='["--vz-info", "--vz-success", "--vz-primary", "--vz-warning"]'
							class="apex-charts" dir="ltr"></div>
					</div><!-- end card-body -->
				</div><!-- end card -->
			</div>
			<!-- end col -->
			<div class="col-xl-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title mb-0">Heatmap - Range Without Shades</h4>
					</div><!-- end card header -->

					<div class="card-body">
						<div id="shades_heatmap" data-colors='["--vz-info", "--vz-primary"]' class="apex-charts"
							dir="ltr"></div>
					</div><!-- end card-body -->
				</div><!-- end card -->
			</div>
			<!-- end col -->
		</div>
		<!-- end row -->
	</div>

	<th:block layout:fragment="modal">

	</th:block>
	<th:block layout:fragment="pagejs">
		<!-- apexcharts -->
		<script src="/assets/libs/apexcharts/apexcharts.min.js"></script>

		<!-- heatmap init -->
		<script src="/assets/js/pages/apexcharts-heatmap.init.js"></script>
	</th:block>
</body>

</html>