<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<th:block layout:fragment="pagetitle">
	<!--page title-->
	<div th:replace="partials/title-meta :: title-meta('Apex Boxplot Charts')"></div>
</th:block>

<head>

</head>

<body>
	<div layout:fragment="content">
		<!-- start page title -->
		<div th:replace="partials/page-title :: page-title('Boxplot Charts','Apexcharts')"></div>

		<div class="row">
			<div class="col-xl-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title mb-0">Basic Box Chart</h4>
					</div><!-- end card header -->

					<div class="card-body">
						<div id="basic_box" data-colors='["--vz-primary", "--vz-info"]' class="apex-charts" dir="ltr">
						</div>
					</div><!-- end card-body -->
				</div><!-- end card -->
			</div>
			<!-- end col -->

			<div class="col-xl-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title mb-0">Boxplot with Scatter Chart</h4>
					</div><!-- end card header -->

					<div class="card-body">
						<div id="box_plot" data-colors='["--vz-danger", "--vz-info", "--vz-danger", "--vz-primary"]'
							class="apex-charts" dir="ltr"></div>
					</div><!-- end card-body -->
				</div><!-- end card -->
			</div>
			<!-- end col -->
		</div>
		<!-- end row -->
		<div class="row">
			<div class="col-xl-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title mb-0">Horizontal BoxPlot</h4>
					</div><!-- end card header -->

					<div class="card-body">
						<div id="box_plot_hori" data-colors='["--vz-light", "--vz-card-bg-custom"]' class="apex-charts"
							dir="ltr"></div>
					</div><!-- end card-body -->
				</div><!-- end card -->
			</div>
			<!-- end col -->
		</div>
		<!-- end row -->
	</div>

	<th:block layout:fragment="modal">

	</th:block>
	<th:block layout:fragment="pagejs">
		<!-- apexcharts -->
		<script src="/assets/libs/apexcharts/apexcharts.min.js"></script>

		<!-- boxplot init -->
		<script src="/assets/js/pages/apexcharts-boxplot.init.js"></script>
	</th:block>
</body>

</html>