files:
  "/usr/local/bin/download-private-key.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # Set the path to the private key file
      PRIVATE_KEY_FILE="/key/private.pem"
      PUBLIC_KEY_FILE="/key/public.pem"

      # Set the name of the S3 bucket that contains the private key file
      BUCKET_NAME="teamsync-private"

      # Set the name of the private key file in the S3 bucket
      PRIVATE_FILE_NAME="private.pem"
      PUBLIC_FILE_NAME="public.pem"

      # Download the private key file from S3
      aws s3 cp "s3://$BUCKET_NAME/$PRIVATE_FILE_NAME" $PRIVATE_KEY_FILE
      aws s3 cp "s3://$BUCKET_NAME/$PUBLIC_FILE_NAME" $PUBLIC_KEY_FILE

commands:
  download-private-key:
    command: "/usr/local/bin/download-private-key.sh"
