<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<th:block layout:fragment="pagetitle">
	<!--page title-->
	<div th:replace="partials/title-meta :: title-meta('Remix Icons')"></div>
</th:block>

<head>

</head>

<body>
	<div layout:fragment="content">
		<!-- start page title -->
		<div th:replace="partials/page-title :: page-title('Remix','Icons')"></div>

		<div class="row">

		</div><!-- end row -->

		<div class="row">
			<div class="col-12" id="icons"></div> <!-- end col-->
		</div><!-- end row -->
	</div>

	<th:block layout:fragment="modal">

	</th:block>
	<th:block layout:fragment="pagejs">
		<!-- materialdesign icon js-->
    <script src="/assets/js/pages/remix-icons-listing.js"></script>
	</th:block>
</body>

</html>